<Config>
	<ConfigSection name="Audio">
		<ConfigValue name="CarSounds" value="1.25" />
		<ConfigValue name="CurrentRadioStation" value="0" />
		<ConfigValue name="FXVolume" value="1.25" />
		<ConfigValue name="GlobalVolume" value="1" />
		<ConfigValue name="LastTrackNumber" value="7" />
		<ConfigValue name="MusicVolume" value="0" />
		<ConfigValue name="PlayerVoices" value="0" />
		<ConfigValue name="RadioOn" value="1" />
		<ConfigValue name="RadioStationsPlayedFirstTime" value="1" />
		<ConfigValue name="RadioVolume" value="1" />
		<ConfigValue name="UIVolume" value="0.625" />
		<ConfigValue name="VoicesVolume" value="0.5" />
	</ConfigSection>
	<ConfigSection name="Controls">
		<ConfigValue name="AutoGearbox" value="0" />
		<ConfigValue name="ChatContentTextSize" value="2" />
		<ConfigValue name="CockpitCameraSensibility" value="0.200000003" />
		<ConfigValue name="DeviceDetectionMode" value="1" />
		<ConfigValue name="DrivingHelp" value="0" />
		<ConfigValue name="ForceFeedback" value="0.5" />
		<ConfigValue name="SteeringDeadZone" value="0" />
		<ConfigValue name="SteeringLinearity" value="0.5" />
		<ConfigValue name="SteeringSensitivity" value="0.800000012" />
		<ConfigValue name="SteeringSpeedFactor" value="0.300000012" />
		<ConfigValue name="ThrottleLinearity" value="0.5" />
		<ConfigValue name="Vibrations" value="0" />
	</ConfigSection>
	<ConfigSection name="Game">
		<ConfigValue name="AudioLanguage" value="1" />
		<ConfigValue name="EnableProfanityFilter" value="1" />
		<ConfigValue name="KeyboardLayout" value="English" />
		<ConfigValue name="Language" value="1" />
		<ConfigValue name="MouseAlwaysVisible" value="0" />
		<ConfigValue name="RadioNotScore" value="1" />
		<ConfigValue name="TextChatCurrentFilterID" value="2" />
		<ConfigValue name="TextChatMutedPlayerNames" value="" />
		<ConfigValue name="TextChatWindowHeight" value="196" />
		<ConfigValue name="TextChatWindowPosX" value="602" />
		<ConfigValue name="TextChatWindowPosY" value="883" />
		<ConfigValue name="TextChatWindowWidth" value="680" />
		<ConfigValue name="UnitsMetric" value="1" />
	</ConfigSection>
	<ConfigSection name="Hud">
		<ConfigValue name="DisplaySpeedometerFR" value="1" />
	</ConfigSection>
	<ConfigSection name="Online">
		<ConfigValue name="ReceiveSocialNotif" value="1" />
	</ConfigSection>
	<ConfigSection name="VideoMode">
		<ConfigValue name="AutoZoomEnabled" value="0" />
		<ConfigValue name="DofMode" value="0" />
		<ConfigValue name="EnableTraffic" value="1" />
		<ConfigValue name="FilterBrightness" value="1" />
		<ConfigValue name="FilterContrast" value="1" />
		<ConfigValue name="FilterMode" value="0" />
		<ConfigValue name="FilterSaturation" value="1" />
		<ConfigValue name="Filter_BW_BlendFactor" value="1" />
		<ConfigValue name="Filter_BW_Brightness" value="1" />
		<ConfigValue name="Filter_BW_Contrast" value="1" />
		<ConfigValue name="Filter_BW_Saturation" value="1" />
		<ConfigValue name="Filter_Blue_BlendFactor" value="1" />
		<ConfigValue name="Filter_Blue_Brightness" value="1" />
		<ConfigValue name="Filter_Blue_Contrast" value="1" />
		<ConfigValue name="Filter_Blue_Saturation" value="1" />
		<ConfigValue name="Filter_Default_BlendFactor" value="0" />
		<ConfigValue name="Filter_Default_Brightness" value="1" />
		<ConfigValue name="Filter_Default_Contrast" value="1" />
		<ConfigValue name="Filter_Default_Saturation" value="1" />
		<ConfigValue name="Filter_Sepia_BlendFactor" value="1" />
		<ConfigValue name="Filter_Sepia_Brightness" value="1" />
		<ConfigValue name="Filter_Sepia_Contrast" value="1" />
		<ConfigValue name="Filter_Sepia_Saturation" value="1" />
		<ConfigValue name="Filter_Sunburn_BlendFactor" value="1" />
		<ConfigValue name="Filter_Sunburn_Brightness" value="1" />
		<ConfigValue name="Filter_Sunburn_Contrast" value="1" />
		<ConfigValue name="Filter_Sunburn_Saturation" value="1" />
		<ConfigValue name="Filter_Yellow_BlendFactor" value="1" />
		<ConfigValue name="Filter_Yellow_Brightness" value="1" />
		<ConfigValue name="Filter_Yellow_Contrast" value="1" />
		<ConfigValue name="Filter_Yellow_Saturation" value="1" />
		<ConfigValue name="FrameOpacity" value="10" />
		<ConfigValue name="FrameType" value="0" />
		<ConfigValue name="GridEnabled" value="0" />
		<ConfigValue name="LogoMode" value="0" />
		<ConfigValue name="LogoPosition" value="2" />
		<ConfigValue name="TagMode" value="0" />
		<ConfigValue name="TagPositoin" value="2" />
		<ConfigValue name="TagSize" value="0" />
		<ConfigValue name="VignetteValue" value="2" />
	</ConfigSection>
</Config>
